Customers_WinForm_UI/Service References/CustomersService/customers1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Customers_self_hosted_service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Customers_self_hosted_service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContainsErrors" type="xs:boolean" />
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="Customers" nillable="true" type="tns:ArrayOfCustomer" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultObject" nillable="true" type="tns:ResultObject" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalAddressCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalAddressCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalAddressStreet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="CustomerListFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Condition" type="tns:FilterConditions" />
      <xs:element minOccurs="0" name="FieldName" type="tns:FilterFieldsNames" />
      <xs:element minOccurs="0" name="FieldValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsEnabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerListFilter" nillable="true" type="tns:CustomerListFilter" />
  <xs:simpleType name="FilterConditions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IS_EQUAL" />
      <xs:enumeration value="CONTAINS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FilterConditions" nillable="true" type="tns:FilterConditions" />
  <xs:simpleType name="FilterFieldsNames">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NAME" />
      <xs:enumeration value="SURNAME" />
      <xs:enumeration value="PHONE" />
      <xs:enumeration value="CITY" />
      <xs:enumeration value="STREET" />
      <xs:enumeration value="POSTCODE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FilterFieldsNames" nillable="true" type="tns:FilterFieldsNames" />
</xs:schema>